In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('TCS_NS.csv')

df = df.drop_duplicates()

df.sort_values(by='Datetime',ascending=True)

df['Datetime'] = df['Datetime'].str.replace('+05:30','',regex=False)

df['updt'] = pd.to_datetime(df['Datetime'],format= '%Y-%m-%d %H:%M:%S')
df['date'] = pd.to_datetime(df['Datetime'],format= '%Y-%m-%d %H:%M:%S').dt.date
df['hour'] = pd.to_datetime(df['Datetime'],format= '%Y-%m-%d %H:%M:%S').dt.hour
df['minute'] = pd.to_datetime(df['Datetime'],format= '%Y-%m-%d %H:%M:%S').dt.minute
df['3m'] = df['minute']//3
df['grp_3m'] = df['updt'].dt.strftime('%Y%m%d%H')+df['3m'].astype(str)
#df['grp_3m'] = df['grp_3m'].astype(int)

df = df.sort_values(by=['updt'], ascending=True)

temp_df = df.groupby('grp_3m').apply(lambda x: x.iloc[[-1]]).reset_index(drop=True).sort_values(by=['updt'], ascending=True)

temp_df = temp_df.loc[:,['updt','grp_3m','Close']]
temp_df['Opening'] = temp_df['Close'].shift(1)
temp_df['Closing'] = temp_df['Close']

temp_df = temp_df.where(temp_df['Opening'].notna()).dropna()

temp_df['Trend'] = temp_df['Closing'] - temp_df['Opening']

temp_df

,updt,grp_3m,Close,Opening,Closing,Trend
1,2023-08-23 14:47:00,202308231415,3396.399902,3396.399902,3396.399902,0.000000
2,2023-08-23 14:50:00,202308231416,3397.449951,3396.399902,3397.449951,1.050049
3,2023-08-23 14:53:00,202308231417,3398.399902,3397.449951,3398.399902,0.949951
4,2023-08-23 14:56:00,202308231418,3399.199951,3398.399902,3399.199951,0.800049
5,2023-08-23 14:59:00,202308231419,3399.050049,3399.199951,3399.050049,-0.149902
...,...,...,...,...,...,...
2635,2023-09-22 15:17:00,20230922155,3594.800049,3600.350098,3594.800049,-5.550049
2636,2023-09-22 15:20:00,20230922156,3605.000000,3594.800049,3605.000000,10.199951
2637,2023-09-22 15:23:00,20230922157,3602.199951,3605.000000,3602.199951,-2.800049
2638,2023-09-22 15:26:00,20230922158,3608.750000,3602.199951,3608.750000,6.550049
2639,2023-09-22 15:29:00,20230922159,3604.000000,3608.750000,3604.000000,-4.750000

TypeError: send_slack_alert() missing 1 required positional argument: 'channel'